/*
=================================================
RESET
=================================================
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=================================================
MEDIA QUERY
=================================================
*/
/* Styles for mobile */
@media only screen and (max-width: 768px) {
    @import url('style-mobile.css');
  }
  
  /* Styles for tablet */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    @import url('style-tablet.css');
  }
  
  /* Styles for desktop */
  @media only screen and (min-width: 1025px) {
    @import url('styles_desktop.css');
  }
  



/*
=================================================
PALETTE 
=================================================
*/
:root {
    --sidenav-bg-color: #022C43;
    --main-page-bg-color: #053F5E;
    --footer-and-pj-bg-color: #115173;
    --text-color: #FFD700;
}

/*
=================================================
SIDENAV 
=================================================
*/
/*
------------------------------------
general
------------------------------------
*/
#sidenav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 13%;
    background-color: var(--sidenav-bg-color);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 5px solid;
  }
  
/*
---------------------------------
name and pic
---------------------------------
*/
  #profile-pic {
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 100%;
    border: black 5px solid;
    height: 15%;
  }

  #my-name {
    font-size: 20px;
    color: white;
  }


  /*
  ------------------------------------
  dividers hr
  ------------------------------------
  */
  #name-socials-divider,
  #socials-skills-divider {
    margin-top: 45px;
    margin-bottom: 45px;
    width: 90%;
    border-top: 1px solid white;
  }

  /*
  ------------------------------------
  page links and socials
  ------------------------------------
  */
  #sidenav a {
    color: var(--text-color); /* Set text color */
    text-decoration: none; /* Remove underline */
    margin-bottom: 10px; /* Add some space between each item */
  }
  
  #socials-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 24px;
  }
  
  #socials-list li {
    margin-bottom: 10px; /* Add some space between each social media icon */
  }
  
  #socials-list img {
    margin-right: 5px; /* Add some space between the icon and the text */
    vertical-align: middle;
  }
  
  #page-links li{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 0;
  }

  /*
  ------------------------------------
  hover
  ------------------------------------
  */
  #sidenav a {
    color: var(--text-color); /* Set default text color */
    text-decoration: none; /* Remove underline */
    margin-bottom: 10px; /* Add some space between each item */
    transition: color 0s, text-shadow 0.3s, text-decoration 0.3s; /* Add transition effect */
  }
  
  #sidenav a:hover {
    color: white; /* Change text color on hover */
    text-decoration: underline; /* Underline text on hover */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
  }


/*
=================================================
MAIN PAGE  
=================================================
*/
#main-page {
    margin-left: 13%; /* Ensure that the main content is not covered by the sidenav */
    width: 87%;
    overflow: hidden; 
  }
/*
------------------------------------
gif
------------------------------------
*/
#gif-main-page {
    position: fixed;
    top: 0;
    width: 87%; /* Adjust to subtract the width of the sidenav */
    height: 100vh; /* Cover the entire viewport vertically */
    z-index: -1; /* Send the GIF behind other content */
  }
  
  #gif-main-page img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }

  /*
  *------------------------------------
  * name and description
  *------------------------------------
  */

  @import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  font-family:'Roboto';
  background-color: #131417;  
}
p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}
.container-gif-text {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:54px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.3rem 0.7rem;
  height:2.5rem;
  margin-bottom: 2.9rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#6b6b6b9c;
  border: #000000 3px solid;
}
.second div {
  background-color:#6b6b6b9c;
  border: #000000 3px solid;
}
.third div {
  background-color:#6b6b6b9c;
  border: #000000 3px solid;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

  
  

/*
=================================================
ABOUT ME 
=================================================
*/
#about-me-section {
    background-color: var(--main-page-bg-color);
    color: white;
    padding: 20px;
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: black 5px solid;
    border-bottom: black 5px solid;
}

/*
*------------------------------------
* about me header
*------------------------------------
*/
#about-me-header {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
}


/*
*------------------------------------
* container for about me
*------------------------------------
*/
#about-me-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

#about-me-text {
    padding: 20px;
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
}
/*
*------------------------------------
* info
*------------------------------------
*/
#about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

#about-me-info {
  margin: 50px 0;
  display: flex;
  align-items: center; 
  max-width: 800px; 
}

#about-me-info-pic {
  margin-right: 50px; 
}

#about-me-info-pic img {
  border-radius: 100%;
  max-width: 150px; 
  max-height: 150px; 
}


#personal-info {
  display: flex;
  width: 100%; 
  justify-content: center; 
}

#personal-info-right,
#personal-info-left {
  width: 50%; 
}

#personal-info-right ul,
#personal-info-left ul {
  list-style-type: none;
  padding: 0;
}

#personal-info-right ul li,
#personal-info-left ul li {
  margin-bottom: 10px; 
  text-align: left;
}

#personal-info-right ul li strong,
#personal-info-left ul li strong {
  margin-right: 5px; 
}


/*
=================================================
SKILLS 
=================================================
*/
/*
*------------------------------------
* container for skills
*------------------------------------
*/
#skills-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: var(--main-page-bg-color);
}

/*
*------------------------------------
* skills pic
*------------------------------------
*/
#skills-pic {
    height: 100px;
    background-color: #FFD700;
    border-radius: 100%;
    border: #000000 5px solid;
    padding: 20px;
}

/*
*------------------------------------
* skills header
*------------------------------------
*/
#skills-header {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
}

/*
*------------------------------------
* skills text
*------------------------------------
*/
#skills-text {
    padding: 20px;
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    background-color: var(--main-page-bg-color);
}

/*
*------------------------------------
* progress bars
*------------------------------------
*/
.wrapper {
  width: 600px; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin: auto;
  background-color: var(--main-page-bg-color);
  flex-direction: column;
}

.progress-bar {
  width: 50%;
  height: 20px;
  border-radius: 50px;
  overflow: hidden;
  border: 5px solid var(--sidenav-bg-color);
  padding: 6px;
}
#progress-1 {
  height: 100%;
  border-radius: 10px;
  background-color: var(--text-color);
  animation: animate-1 1s linear forwards;
}
#progress-2,
#progress-3 {
  height: 100%;
  border-radius: 10px;
  background-color: var(--text-color);
  animation: animate-2-3 1s linear forwards;
}
#progress-4 {
  height: 100%;
  border-radius: 10px;
  background-color: var(--text-color);
  animation: animate-4 1s linear forwards;
}
.skill-level-text {
  padding-top: 10px;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  color: white;
}
#progress-5,
#progress-6 {
  height: 100%;
  border-radius: 10px;
  background-color: var(--text-color);
  animation: animate-5-6 1s linear forwards;
}
@keyframes animate-1 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes animate-2-3 {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}
@keyframes animate-4 {
  0% {
    width: 0;
  }
  100% {
    width: 35%;
  }
}
@keyframes animate-5-6 {
  0% {
    width: 0;
  }
  100% {
    width: 25%;
  }
}
.skill-name {
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  color: white;
}
.skill-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  background-color: var(--main-page-bg-color);
}

/*
*------------------------------------
* left and right side adjustments
*------------------------------------
*/


/*
*------------------------------------
* bars and names adjustments
*------------------------------------
*/
.skill-name {
  padding-left: 20%;
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  color: white;
}



/*
=================================================
LANGUAGES  
=================================================
*/
#languages-section {
  background-color: var(--main-page-bg-color);
  color: white;
  padding: 20px;
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: black 5px solid;
}

#languages-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: var(--main-page-bg-color);
}
.language-name {
  padding-left: 20%;
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  margin-right: 15%;
  color: white;
}
.language-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  background-color: var(--main-page-bg-color);
}

#languages-header {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
}

#languages-pic {
  height: 100px;
    padding: 20px;
}
/*
*------------------------------------
* container for languages
*------------------------------------
*/
#progress-7,
#progress-8 {
  height: 100%;
  border-radius: 10px;
  background-color: var(--text-color);
  animation: animate-7-8 1s linear forwards;
}
@keyframes animate-7-8 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}



/*
=================================================
PROJECTS
=================================================
*/
#project-section {
  background-color: var(--main-page-bg-color);
  color: white;
  padding: 20px;
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#project-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: var(--main-page-bg-color);
  border-top: #000000 5px solid;
}
.project-name {
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  color: white;
}
.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  background-color: var(--main-page-bg-color);
}

#project-header {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
}

#project-pic {
  height: 100px;
    padding: 20px;
}

#project-text {
  padding: 20px;
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    background-color: var(--main-page-bg-color);
}
/*
*------------------------------------
* projects rows and columns
*------------------------------------
*/
.project-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; /* Adjust spacing between rows */
  mask-image: linear-gradient(
        to bottom, 
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 6%,
        rgba(0,0,0,1) 100%
    );
    padding-top: 20px
}

.project {
  width: calc(33.33% - 20px);
  background-color: var(--footer-and-pj-bg-color);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex; /* Add flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: #000000 3px solid;
  margin-bottom: 40px;
}


.project img {
  width: 95%; /* Make the image fill the container */
  height: 90%; /* Make the image fill the container */
  border-radius: 10px;
}

.project-wip {
  width: calc(33.33% - 20px);
  background-color: var(--footer-and-pj-bg-color);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex; /* Add flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: #000000 3px solid;
}

.project-wip-4,
.project-wip-5,
.project-wip-6 {
  width: calc(33.33% - 20px);
  background-color: var(--footer-and-pj-bg-color);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex; /* Add flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: #000000 3px solid;
}

.project-wip-4 img,
.project-wip-5 img,
.project-wip-6 img{
  width: 40%; /* Make the image fill the container */
  height: 60%; /* Make the image fill the container */
  padding: 40px 0;
}

.project-wip img {
  width: 40%; /* Make the image fill the container */
  height: 60%; /* Make the image fill the container */
  padding: 40px 0;
}

/* Add hover effect to the container */
.project:hover {
  transform: translateY(-100px); /* Bring the container up by 10 pixels */
  transition: transform 0.3s ease; /* Add smooth transition */
  cursor: pointer; 
}



.project {
  position: relative;
  width: 100%;
  background-color: var(--footer-and-pj-bg-color);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.4);
  border: #000000 3px solid;
  z-index: 2; /* Keep it above other elements */
  
}

.project img {
  width: 95%;
  height: 90%;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Add transition for smooth hover effect */
}

.project:hover img {
  transform: translateY(-20px); /* Move image up on hover */
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project:hover .project-overlay {
  opacity: 1; /* Show the overlay on hover */
}

.project-text {
  margin-top: -80px;
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
  text-align: center;
  z-index: 1; /* Set a lower z-index to place it behind the container */
}

.project-container {
  flex-direction: column;
}








/*
=================================================
FOOTER  
=================================================
*/
#footer {
    margin-left: 13%;
    background-color: var(--footer-and-pj-bg-color);
    color: white;
    padding: 20px;
    border-top: black 5px solid;
    border-bottom: black 5px solid;
  }


/*
=================================================
RETURN BUTTON
=================================================
*/
#return-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: var(--text-color);
  border-radius: 50%;
  border: #000000 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999; /* Ensure the button stays above other content */
}

#return-button svg {
  width: 30px; /* Adjust the size of the icon */
  height: auto; /* Maintain aspect ratio */
  filter: invert(100%); /* Invert the color of the icon */
  translate: 7px 6px;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  60% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(8%);
  }
  100% {
    transform: translateX(0%);
  }
}

